body {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 50px;
    border-bottom: solid 1px #ebebeb;

    img {
      width: 180px;
    }

    ul {
      display: none;
    }

    .fas {
      &.fa-bars {
        font-size: 50px;
        color: #6d6f7a;
      }

      &.fa-times {
        display: none;
      }
    }
  }

  header {

    margin-left: 50px;

    h1 {
      width: 350px;
      width: 350px;
      font-size: 62px;
      color: #323747;
    }
    p {
      font-size: 34px;
      width: 595px;
      color: #5b5e6c;
    }
    button {
      background-color: #4049aa;
      width: 80%;
      color: white;
      font-size: 34px;
      padding: 20px;
      border-radius: 10px;
      border: none;
      margin: 0 auto;
    }
  }

  main{
      display: flex;
      flex-direction: column;

      .clients{
        img {
            width: 100%;
            padding: 30px 0px;
            border-bottom: solid 1px #ebebeb;
        }
      }

      .try{
          text-align: center;

          .title{
            font-weight: bold;
            font-size: 40px;
          }

          p{
              margin-top: 5px;
          }
      }
      
  }

}
