body {
  font-family: Slack-Larsseit, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
}
body nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "slack-logo burguer-menu";
  position: sticky;
  top: 0;
  background-color: white;
  padding-right: 30px;
  padding-left: 30px;
  border-bottom: solid 1px #ebebeb;
}
body nav img {
  width: 150px;
  grid-area: slack-logo;
}
body nav ul {
  display: none;
}
body nav .fas.fa-bars {
  font-size: 53px;
  text-align: right;
  grid-area: burguer-menu;
  color: #6d6f7a;
}
body nav .fas.fa-times {
  display: none;
}
body header {
  padding-left: 30px;
}
body header h1 {
  font-size: 8.5vw;
  width: 400px;
}
body header p:nth-child(2) {
  width: 600px;
  font-size: 4.02vw;
  color: #6d6f7a;
}
body header input {
  display: block;
  width: 600px;
  height: 60px;
  border-radius: 5px;
  font-size: 3.5vw;
  border: solid 1px #ebebeb;
}
body header button {
  background: #4049aa;
  margin: 0 auto;
  width: 80%;
  height: 70px;
  color: white;
  width: 600px;
  height: 60px;
  margin-top: 20px;
  border-radius: 5px;
  font-size: 3.5vw;
  border: none;
}
body header p:nth-child(5) {
  text-align: center;
  padding-right: 99px;
  color: #6d6f7a;
}
body header img {
  margin-top: 30px;
}
body main {
  background-color: #f5f5f5;
}
body main div:nth-child(1) {
  display: grid;
  grid-template-columns: 1fr;
}
body main div:nth-child(1) h2 {
  text-align: center;
  font-size: 6vw;
  margin-bottom: 23px;
}
body main div:nth-child(1) p {
  text-align: center;
  width: 70%;
  font-size: 4vw;
  margin: 0 auto;
  color: #6d6f7a;
}
body main div:nth-child(1) button {
  background: white;
  margin: 0 auto;
  width: 80%;
  height: 70px;
  color: white;
  width: 600px;
  height: 60px;
  margin-top: 20px;
  border-radius: 5px;
  font-size: 3.5vw;
  border: none;
  border: solid 1px #4049aa;
  color: #4049aa;
}
body main div:nth-child(1) img {
  width: 300px;
  margin: 0 auto;
  padding: 40px;
  border-bottom: solid 1px #ebebeb;
}
body main div:nth-child(1) img:nth-child(4) {
  margin-top: 55px;
}
body main div:nth-child(2) {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr;
  border-bottom: solid 1px #ebebeb;
}
body main div:nth-child(2) p:nth-child(1) {
  text-align: center;
  font-weight: bold;
  font-size: 5vw;
  padding-top: 70px;
  margin-bottom: 5px;
}
body main div:nth-child(2) p:nth-child(2) {
  text-align: center;
}
body main div:nth-child(2) button {
  background: #4049aa;
  margin: 0 auto;
  width: 80%;
  height: 70px;
  color: white;
  width: 600px;
  height: 60px;
  margin-top: 20px;
  border-radius: 5px;
  font-size: 3.5vw;
  border: none;
  color: white;
  margin-bottom: 20px;
}
body footer div:nth-child(1) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "slack-logo slack-logo" "company product" "resources extras";
  font-size: 5vw;
}
body footer div:nth-child(1) ul {
  list-style: none;
}
body footer div:nth-child(1) ul li {
  margin: 0 0 22px 0;
  color: #6d6f7a;
}
body footer div:nth-child(1) img {
  grid-area: slack-logo;
}
body footer div:nth-child(1) ul:nth-child(2) {
  grid-area: company;
}
body footer div:nth-child(1) ul:nth-child(2) li:nth-child(1) {
  font-weight: bold;
  color: #6d6f7a;
}
body footer div:nth-child(1) ul:nth-child(3) {
  grid-area: product;
}
body footer div:nth-child(1) ul:nth-child(3) li:nth-child(1) {
  font-weight: bold;
  color: grey;
}
body footer div:nth-child(1) ul:nth-child(4) {
  grid-area: resources;
}
body footer div:nth-child(1) ul:nth-child(4) li:nth-child(1) {
  font-weight: bold;
  color: grey;
}
body footer div:nth-child(1) ul:nth-child(5) {
  grid-area: extras;
}
body footer div:nth-child(1) ul:nth-child(5) li:nth-child(1) {
  font-weight: bold;
  color: grey;
}
body footer div:nth-child(2) {
  background-color: #f5f5f5;
}
body footer div:nth-child(2) ul {
  display: flex;
  justify-content: center;
  font-weight: bold;
  color: #6d6f7a;
  font-size: 3vw;
  padding-top: 29px;
  margin-bottom: 30px;
}
body footer div:nth-child(2) ul li {
  display: inline;
  margin: 0 20px;
}
body footer div:nth-child(2) div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 107px 1fr;
  grid-template-areas: "flag language arrow-down" "twitter facebook youtube";
  justify-items: center;
  color: #6d6f7a;
}
body footer div:nth-child(2) div img {
  grid-area: flag;
  width: 25px;
  justify-self: end;
  margin-right: 9px;
}
body footer div:nth-child(2) div span {
  grid-area: language;
  place-self: center;
}
body footer div:nth-child(2) div i.fas.fa-chevron-down {
  grid-area: arrow-down;
  justify-self: start;
}
body footer div:nth-child(2) div i.fab.fa-twitter {
  grid-area: twitter;
  justify-self: end;
  margin-top: 30px;
}
body footer div:nth-child(2) div i.fab.fa-facebook-f {
  grid-area: facebook;
  margin-top: 30px;
}
body footer div:nth-child(2) div i.fab.fa-youtube {
  grid-area: youtube;
  justify-self: start;
  margin-top: 30px;
}

@media (min-width: 1025px) {
  body nav {
    grid-template-areas: "slack-logo menu";
  }
  body nav .fas.fa-bars {
    display: none;
  }
  body nav ul {
    list-style-type: none;
    justify-self: end;
    display: block;
    grid-area: menu;
  }
  body nav ul li {
    display: inline;
    margin-left: 10px;
    padding: 8px;
  }
  body nav ul li:nth-child(4) {
    border: solid 1px #6d6f7a;
  }
  body header {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 2fr 2fr 2fr 1fr;
    height: 100vh;
  }
  body header h1 {
    grid-column: 2;
    grid-row: 1;
    font-size: 4.5vw;
  }
  body header p:nth-child(2) {
    grid-column: 2;
    grid-row: 2;
    overflow-wrap: break-word;
    font-size: fit-width;
    width: 100%;
    font-size: 1.7vw;
  }
  body header input {
    grid-column: 2;
    grid-row: 3;
    width: 80%;
    height: 40px;
    font-size: 2.5vw;
    font-size: 1.5vw;
    margin-bottom: 20px;
    display: none;
    margin-top: -56px;
    display: none;
  }
  body header button {
    grid-column: 2;
    grid-row: 3;
    width: 61%;
    height: 40px;
    font-size: 2.5vw;
    margin: 0;
    grid-row: 3;
    margin: 0;
  }
  body header p:nth-child(5) {
    grid-column: 2;
    grid-row: 4;
    text-align: left;
    grid-row: 3;
    text-align: left;
    margin-top: 53px;
  }
  body header img {
    grid-column: 1;
    grid-row: 1/span 5;
    margin-top: 0;
  }
  body main div:nth-child(1) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "title title title" "paragraph paragraph paragraph" "button button button" "airbnb capital-one hardvard" "angeles oracle ticketmaster";
  }
  body main div:nth-child(1) h2 {
    grid-area: title;
    font-size: 5vw;
  }
  body main div:nth-child(1) p {
    grid-area: paragraph;
    font-size: 1.6vw;
  }
  body main div:nth-child(1) button {
    grid-area: button;
    margin-bottom: 31px;
    margin-top: 30px;
    font-size: 2.5vw;
    width: 24%;
  }
  body main div:nth-child(1) img {
    width: 200px;
  }
  body main div:nth-child(1) img:nth-child(4) {
    grid-area: airbnb;
    margin-top: 0px;
  }
  body main div:nth-child(1) img:nth-child(5) {
    grid-area: capital-one;
  }
  body main div:nth-child(1) img:nth-child(6) {
    grid-area: hardvard;
  }
  body main div:nth-child(1) img:nth-child(7) {
    grid-area: angeles;
  }
  body main div:nth-child(1) img:nth-child(8) {
    grid-area: oracle;
  }
  body main div:nth-child(1) img:nth-child(9) {
    grid-area: ticketmaster;
  }
  body footer div:nth-child(1) {
    grid-template-columns: 110px 1fr 1fr 1fr 1fr;
    grid-template-areas: "slack-logo company product resources extras";
  }
  body footer div:nth-child(1) img {
    width: 110px;
  }
  body footer div:nth-child(1) ul {
    font-size: 2.4vw;
  }
  body footer div:nth-child(2) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "status language";
  }
  body footer div:nth-child(2) ul {
    font-size: 2vw;
    grid-area: status;
  }
  body footer div:nth-child(2) ul li {
    margin: 0 10px;
  }
  body footer div:nth-child(2) div {
    grid-area: language;
    display: grid;
    grid-template-areas: "flag language arrow-down twitter youtube facebook";
    grid-template-columns: 30px 107px 23px 23px 23px 23px;
    justify-self: end;
    padding-right: 50px;
  }
  body footer div:nth-child(2) div img {
    align-self: center;
  }
  body footer div:nth-child(2) div span {
    align-self: center;
  }
  body footer div:nth-child(2) div i.fab.fa-twitter {
    align-self: center;
    margin-top: 0px;
  }
  body footer div:nth-child(2) div i.fab.fa-youtube {
    align-self: center;
    margin-top: 0px;
  }
  body footer div:nth-child(2) div i.fab.fa-facebook-f {
    align-self: center;
    margin-top: 0px;
  }
  body footer div:nth-child(2) div i.fas.fa-chevron-down {
    align-self: center;
  }

  body header {
    max-width: 1200px;
  }
}
@media (min-width: 960px) and (max-width: 1024px) {
  body main div:nth-child(1) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "title title title" "paragraph paragraph paragraph" "button button button" "airbnb capital-one hardvard" "angeles oracle ticketmaster";
  }
  body main div:nth-child(1) h2 {
    grid-area: title;
    font-size: 5vw;
  }
  body main div:nth-child(1) p {
    grid-area: paragraph;
    font-size: 1.6vw;
  }
  body main div:nth-child(1) button {
    grid-area: button;
    margin-bottom: 31px;
    margin-top: 30px;
    font-size: 2.5vw;
    width: 24%;
  }
  body main div:nth-child(1) img {
    width: 200px;
  }
  body main div:nth-child(1) img:nth-child(4) {
    grid-area: airbnb;
    margin-top: 0px;
  }
  body main div:nth-child(1) img:nth-child(5) {
    grid-area: capital-one;
  }
  body main div:nth-child(1) img:nth-child(6) {
    grid-area: hardvard;
  }
  body main div:nth-child(1) img:nth-child(7) {
    grid-area: angeles;
  }
  body main div:nth-child(1) img:nth-child(8) {
    grid-area: oracle;
  }
  body main div:nth-child(1) img:nth-child(9) {
    grid-area: ticketmaster;
  }
  body footer div:nth-child(1) {
    grid-template-columns: 110px 1fr 1fr 1fr 1fr;
    grid-template-areas: "slack-logo company product resources extras";
  }
  body footer div:nth-child(1) img {
    width: 110px;
  }
  body footer div:nth-child(1) ul {
    font-size: 2.4vw;
  }
  body footer div:nth-child(2) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "status language";
  }
  body footer div:nth-child(2) ul {
    font-size: 2vw;
    grid-area: status;
  }
  body footer div:nth-child(2) ul li {
    margin: 0 10px;
  }
  body footer div:nth-child(2) div {
    grid-area: language;
    display: grid;
    grid-template-areas: "flag language arrow-down twitter youtube facebook";
    grid-template-columns: 30px 107px 23px 23px 23px 23px;
    justify-self: end;
    padding-right: 50px;
  }
  body footer div:nth-child(2) div img {
    align-self: center;
  }
  body footer div:nth-child(2) div span {
    align-self: center;
  }
  body footer div:nth-child(2) div i.fab.fa-twitter {
    align-self: center;
    margin-top: 0px;
  }
  body footer div:nth-child(2) div i.fab.fa-youtube {
    align-self: center;
    margin-top: 0px;
  }
  body footer div:nth-child(2) div i.fab.fa-facebook-f {
    align-self: center;
    margin-top: 0px;
  }
  body footer div:nth-child(2) div i.fas.fa-chevron-down {
    align-self: center;
  }
}
@media (min-width: 767px) and (max-width: 961px) {
  body header h1 {
    width: 850px;
  }
  body header p:nth-child(2) {
    width: 850px;
    font-size: 2.6vw;
  }
  body header input {
    display: inline;
    width: 40%;
  }
  body header button {
    width: 30%;
    display: inline;
    margin-left: 20px;
  }
  body header img {
    width: 60%;
    margin: 30px auto;
    display: block;
  }
  body main div:nth-child(1) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "title title" "paragraph paragraph" "button button" "airbnb capital-one" "hardvard angeles" "oracle ticketmaster";
  }
  body main div:nth-child(1) h2 {
    grid-area: title;
    font-size: 5vw;
  }
  body main div:nth-child(1) p {
    grid-area: paragraph;
    font-size: 1.6vw;
  }
  body main div:nth-child(1) button {
    grid-area: button;
    margin-bottom: 31px;
    margin-top: 30px;
    font-size: 2.5vw;
    width: 24%;
  }
  body main div:nth-child(1) img:nth-child(4) {
    grid-area: airbnb;
    margin-top: 0px;
  }
  body main div:nth-child(1) img:nth-child(5) {
    grid-area: capital-one;
  }
  body main div:nth-child(1) img:nth-child(6) {
    grid-area: hardvard;
  }
  body main div:nth-child(1) img:nth-child(7) {
    grid-area: angeles;
  }
  body main div:nth-child(1) img:nth-child(8) {
    grid-area: oracle;
  }
  body main div:nth-child(1) img:nth-child(9) {
    grid-area: ticketmaster;
  }
  body main div:nth-child(2) {
    grid-template-columns: 213px;
    grid-template-areas: "title button" "paragraph .";
    padding: 30px;
  }
  body main div:nth-child(2) p:nth-child(1) {
    font-size: 3vw;
    grid-area: title;
    padding-top: 0;
    margin-bottom: 0;
    text-align: inherit;
  }
  body main div:nth-child(2) p:nth-child(2) {
    grid-area: paragraph;
  }
  body main div:nth-child(2) button {
    width: 283px;
    height: 40px;
    font-size: 2.2vw;
    grid-area: button;
    justify-self: end;
    margin: 0;
    align-self: end;
  }
  body footer div:nth-child(1) {
    grid-template-columns: 110px 1fr 1fr 1fr 1fr;
    grid-template-areas: "slack-logo company product resources extras";
  }
  body footer div:nth-child(1) img {
    width: 110px;
  }
  body footer div:nth-child(1) ul {
    font-size: 2.4vw;
  }
  body footer div:nth-child(2) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "status language";
  }
  body footer div:nth-child(2) ul {
    font-size: 2vw;
    grid-area: status;
  }
  body footer div:nth-child(2) ul li {
    margin: 0 10px;
  }
  body footer div:nth-child(2) div {
    grid-area: language;
    display: grid;
    grid-template-areas: "flag language arrow-down twitter youtube facebook";
    grid-template-columns: 30px 107px 23px 23px 23px 23px;
    justify-self: end;
    padding-right: 50px;
  }
  body footer div:nth-child(2) div img {
    align-self: center;
  }
  body footer div:nth-child(2) div span {
    align-self: center;
  }
  body footer div:nth-child(2) div i.fab.fa-twitter {
    align-self: center;
    margin-top: 0px;
  }
  body footer div:nth-child(2) div i.fab.fa-youtube {
    align-self: center;
    margin-top: 0px;
  }
  body footer div:nth-child(2) div i.fab.fa-facebook-f {
    align-self: center;
    margin-top: 0px;
  }
  body footer div:nth-child(2) div i.fas.fa-chevron-down {
    align-self: center;
  }
}

/*# sourceMappingURL=stylec.css.map */
