// Colores
$main-grey: #6d6f7a;
$border-color: #ebebeb;
$purple: #4049aa;
$backgroundColor-grey: #f5f5f5;

// Paddings
@mixin default-padding {
  padding-right: 30px;
  padding-left: 30px;
}

// Boton
@mixin button($bkColor) {
  background: $bkColor;
  margin: 0 auto;
  width: 80%;
  height: 70px;
  color: white;
  width: 600px;
  height: 60px;
  margin-top: 20px;
  border-radius: 5px;
  font-size: 3.5vw;
  border: none;
}

body {
  //font-family: 'Roboto', sans-serif;
  font-family: Slack-Larsseit, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
  
  
    overflow-x: hidden;
    margin: 0;

  nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "slack-logo burguer-menu";

    position: sticky;
    top: 0;
    background-color: white;

    @include default-padding();

    border-bottom: solid 1px $border-color;

    img {
      width: 150px;
      grid-area: slack-logo;
    }

    ul {
      display: none;
    }

    .fas.fa-bars {
      font-size: 53px;
      text-align: right;
      grid-area: burguer-menu;
      color: $main-grey;
    }

    .fas.fa-times {
      display: none;
    }
  }

  header {
    padding-left: 30px;

    h1 {
      font-size: 8.5vw;
      width: 400px;
    }

    p:nth-child(2) {
      width: 600px;
      font-size: 4.02vw;
      color: $main-grey;
    }

    input {
      display: block;
      width: 600px;
      height: 60px;
      border-radius: 5px;
      font-size: 3.5vw;
      border: solid 1px $border-color;
    }

    button {
      @include button($purple);
    }

    p:nth-child(5) {
      text-align: center;
      padding-right: 99px;
      color: $main-grey;
    }

    img {
      margin-top: 30px;
    }
  }

  main {
    background-color: $backgroundColor-grey;

    div:nth-child(1) {
      display: grid;
      grid-template-columns: 1fr;

      h2 {
        text-align: center;
        font-size: 6vw;
        margin-bottom: 23px;
      }

      p {
        text-align: center;
        width: 70%;
        font-size: 4vw;
        margin: 0 auto;
        color: $main-grey;
      }

      button {
        @include button(white);
        border: solid 1px $purple;
        color: $purple;
      }

      img {
        width: 300px;
        margin: 0 auto;
        padding: 40px;
        border-bottom: solid 1px $border-color;
      }

      img:nth-child(4) {
        margin-top: 55px;
      }
    }

    div:nth-child(2) {
      background-color: white;
      display: grid;
      grid-template-columns: 1fr;

      border-bottom: solid 1px $border-color;

      p:nth-child(1) {
        text-align: center;
        font-weight: bold;
        font-size: 5vw;
        padding-top: 70px;
        margin-bottom: 5px;
      }

      p:nth-child(2) {
        text-align: center;
      }

      button {
        @include button($purple);
        color: white;
        margin-bottom: 20px;
      }
    }
  }

  footer {
    div:nth-child(1) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "slack-logo slack-logo" "company product" "resources extras";

      font-size: 5vw;

      ul {
        list-style: none;
        li {
          margin: 0 0 22px 0;
          color: $main-grey;
        }
      }

      img {
        grid-area: slack-logo;
      }

      ul:nth-child(2) {
        grid-area: company;
        li:nth-child(1) {
          font-weight: bold;
          color: $main-grey;
        }
      }

      ul:nth-child(3) {
        grid-area: product;
        li:nth-child(1) {
          font-weight: bold;
          color: grey;
        }
      }

      ul:nth-child(4) {
        grid-area: resources;
        li:nth-child(1) {
          font-weight: bold;
          color: grey;
        }
      }

      ul:nth-child(5) {
        grid-area: extras;
        li:nth-child(1) {
          font-weight: bold;
          color: grey;
        }
      }
    }

    div:nth-child(2) {
      background-color: $backgroundColor-grey;

      ul {
        display: flex;
        justify-content: center;
        font-weight: bold;
        color: $main-grey;
        font-size: 3vw;
        padding-top: 29px;
        margin-bottom: 30px;

        li {
          display: inline;
          margin: 0 20px;
        }
      }

      div {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 107px 1fr;
        grid-template-areas: "flag language arrow-down" "twitter facebook youtube";
        justify-items: center;
        color: $main-grey;

        img {
          grid-area: flag;
          width: 25px;
          justify-self: end;
          margin-right: 9px;
        }

        span {
          grid-area: language;
          place-self: center;
        }

        i.fas.fa-chevron-down {
          grid-area: arrow-down;
          justify-self: start;
        }

        i.fab.fa-twitter {
          grid-area: twitter;
          justify-self: end;
          margin-top: 30px;
        }

        i.fab.fa-facebook-f {
          grid-area: facebook;
          margin-top: 30px;
        }

        i.fab.fa-youtube {
          grid-area: youtube;
          justify-self: start;
          margin-top: 30px;
        }
      }
    }
  }
}

// Iteración 4 | Large Screen (width > 1200px)
@media (min-width: 1025px){
    body{
        nav{
            grid-template-areas: "slack-logo menu";
            .fas.fa-bars{
                display: none;
            }

            ul{
                list-style-type: none;
                justify-self: end;
                display: block;
                grid-area: menu;

                li{
                    display: inline;
                    margin-left: 10px;
                    padding: 8px;
                }

                li:nth-child(4) {
                    border: solid 1px $main-grey;
                }
            }
        }

        header{
            display: grid;
            grid-template-columns: 2fr 3fr;
            grid-template-rows: 2fr 2fr 2fr 1fr;
            height: 100vh;

            h1{
                grid-column: 2;
                grid-row: 1;
                font-size: 4.5vw;
            }

            p:nth-child(2){
                grid-column: 2;
                grid-row: 2;
                overflow-wrap: break-word;
                font-size: fit-width;
                width: 100%;
                font-size: 1.7vw;
            }

            input{
                grid-column: 2;
                grid-row: 3;
                width: 80%;
                height: 40px;
                font-size: 2.5vw;
                font-size: 1.5vw;
                margin-bottom: 20px;
                display: none;
                margin-top: -56px;
                display: none;
            }
            
            button{
                grid-column: 2;
                grid-row: 3;
                width: 61%;
                height: 40px;
                font-size: 2.5vw;
                margin: 0;
                grid-row: 3;
                margin: 0;
            }

            p:nth-child(5){
                grid-column: 2;
                grid-row: 4;
                text-align: left;
                grid-row: 3;
                text-align: left;
                margin-top: 53px;
            }

            img{
                grid-column: 1;
                grid-row: 1/span 5;
                margin-top: 0;
            }
        }

        main {
            div:nth-child(1) {
              grid-template-columns: repeat(3, 1fr);
              grid-template-areas: "title title title" "paragraph paragraph paragraph" "button button button" "airbnb capital-one hardvard" "angeles oracle ticketmaster";
    
              h2 {
                grid-area: title;
                font-size: 5vw;
              }
      
              p {
                grid-area: paragraph;
                font-size: 1.6vw;
              }
      
              button {
                grid-area: button;
                margin-bottom: 31px;
                margin-top: 30px;
                font-size: 2.5vw;
                width: 24%;
                font-size: 1.5vw;
                width: 200px;
                height: 60px;
              }
    
              img{
                  width: 200px;
              }
      
              img:nth-child(4) {
                grid-area: airbnb;
                margin-top: 0px;
              }
      
              img:nth-child(5) {
                grid-area: capital-one;
              }
      
              img:nth-child(6) {
                grid-area: hardvard;
              }
      
              img:nth-child(7) {
                grid-area: angeles;
              }
      
              img:nth-child(8) {
                grid-area: oracle;
              }
      
              img:nth-child(9) {
                grid-area: ticketmaster;
              }
            }

            div:nth-child(2){
              p:nth-child(1){
                font-size: 3.5vw;
              }

              button{
                width: 200px;
                font-size: 1.5vw;
                margin-bottom: 55px;
                }
            }
          }

          footer {
            div:nth-child(1) {
              grid-template-columns: 110px 1fr 1fr 1fr 1fr;
              grid-template-areas: "slack-logo company product resources extras";
      
              img {
                width: 110px;
              }
      
              ul {
                font-size: 1.3vw;
              }
            }
      
            div:nth-child(2) {
              display: grid;
              grid-template-columns: 1fr 1fr;
              grid-template-areas: "status language";
      
              ul {
                font-size: 2vw;
                grid-area: status;
                font-size: 1.5vw;
                font-weight: normal;
      
                li {
                  margin: 0 10px;
                }
              }

              
      
              div {
                grid-area: language;
                display: grid;
                grid-template-areas: "flag language arrow-down twitter youtube facebook";
                grid-template-columns: 30px 107px 23px 23px 23px 23px;
                justify-self: end;
                padding-right: 50px;
      
                img {
                  align-self: center;
                }
      
                span {
                  align-self: center;
                }
      
                i.fab.fa-twitter {
                  align-self: center;
                  margin-top: 0px;
                }
      
                i.fab.fa-youtube {
                  align-self: center;
                  margin-top: 0px;
                }
      
                i.fab.fa-facebook-f {
                  align-self: center;
                  margin-top: 0px;
                }
      
                i.fas.fa-chevron-down {
                  align-self: center;
                }
              }
            }
          }
    }

     
}

// Iteración 3 | Medium Screen (1024px > width > 960px)
@media (min-width: 960px) and (max-width: 1024px) {
    body {
      main {
        div:nth-child(1) {
          grid-template-columns: repeat(3, 1fr);
          grid-template-areas: "title title title" "paragraph paragraph paragraph" "button button button" "airbnb capital-one hardvard" "angeles oracle ticketmaster";

          h2 {
            grid-area: title;
            font-size: 5vw;
          }
  
          p {
            grid-area: paragraph;
            font-size: 1.6vw;
          }
  
          button {
            grid-area: button;
            margin-bottom: 31px;
            margin-top: 30px;
            font-size: 2.5vw;
            width: 24%;
          }

          img{
              width: 200px;
          }
  
          img:nth-child(4) {
            grid-area: airbnb;
            margin-top: 0px;
          }
  
          img:nth-child(5) {
            grid-area: capital-one;
          }
  
          img:nth-child(6) {
            grid-area: hardvard;
          }
  
          img:nth-child(7) {
            grid-area: angeles;
          }
  
          img:nth-child(8) {
            grid-area: oracle;
          }
  
          img:nth-child(9) {
            grid-area: ticketmaster;
          }
        }
      }

      footer {
        div:nth-child(1) {
          grid-template-columns: 110px 1fr 1fr 1fr 1fr;
          grid-template-areas: "slack-logo company product resources extras";
  
          img {
            width: 110px;
          }
  
          ul {
            font-size: 2.4vw;
          }
        }
  
        div:nth-child(2) {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-areas: "status language";
  
          ul {
            font-size: 2vw;
            grid-area: status;
  
            li {
              margin: 0 10px;
            }
          }
  
          div {
            grid-area: language;
            display: grid;
            grid-template-areas: "flag language arrow-down twitter youtube facebook";
            grid-template-columns: 30px 107px 23px 23px 23px 23px;
            justify-self: end;
            padding-right: 50px;
  
            img {
              align-self: center;
            }
  
            span {
              align-self: center;
            }
  
            i.fab.fa-twitter {
              align-self: center;
              margin-top: 0px;
            }
  
            i.fab.fa-youtube {
              align-self: center;
              margin-top: 0px;
            }
  
            i.fab.fa-facebook-f {
              align-self: center;
              margin-top: 0px;
            }
  
            i.fas.fa-chevron-down {
              align-self: center;
            }
          }
        }
      }
    }
  }

// Iteración 2 | Small Screen (961px > width > 767px)
@media (min-width: 767px) and (max-width: 961px) {
  body {
    header {
      h1 {
        width: 850px;
      }

      p:nth-child(2) {
        width: 850px;
        font-size: 2.6vw;
      }

      input {
        display: inline;
        width: 40%;
      }

      button {
        width: 30%;
        display: inline;
        margin-left: 20px;
      }

      img {
        width: 60%;
        margin: 30px auto;
        display: block;
      }
    }

    main {
      div:nth-child(1) {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "title title" "paragraph paragraph" "button button" "airbnb capital-one" "hardvard angeles" "oracle ticketmaster";

        h2 {
          grid-area: title;
          font-size: 5vw;
        }

        p {
          grid-area: paragraph;
          font-size: 1.6vw;
        }

        button {
          grid-area: button;
          margin-bottom: 31px;
          margin-top: 30px;
          font-size: 2.5vw;
          width: 24%;
        }

        img:nth-child(4) {
          grid-area: airbnb;
          margin-top: 0px;
        }

        img:nth-child(5) {
          grid-area: capital-one;
        }

        img:nth-child(6) {
          grid-area: hardvard;
        }

        img:nth-child(7) {
          grid-area: angeles;
        }

        img:nth-child(8) {
          grid-area: oracle;
        }

        img:nth-child(9) {
          grid-area: ticketmaster;
        }
      }

      div:nth-child(2) {
        grid-template-columns: 213px;
        grid-template-areas: "title button" "paragraph .";
        padding: 30px;

        p:nth-child(1) {
          font-size: 3vw;
          grid-area: title;
          padding-top: 0;
          margin-bottom: 0;
          text-align: inherit;
        }

        p:nth-child(2) {
          grid-area: paragraph;
        }

        button {
          width: 283px;
          height: 40px;
          font-size: 2.2vw;
          grid-area: button;
          justify-self: end;
          margin: 0;
          align-self: end;
        }
      }
    }

    footer {
      div:nth-child(1) {
        grid-template-columns: 110px 1fr 1fr 1fr 1fr;
        grid-template-areas: "slack-logo company product resources extras";

        img {
          width: 110px;
        }

        ul {
          font-size: 2.4vw;
        }
      }

      div:nth-child(2) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "status language";

        ul {
          font-size: 2vw;
          grid-area: status;

          li {
            margin: 0 10px;
          }
        }

        div {
          grid-area: language;
          display: grid;
          grid-template-areas: "flag language arrow-down twitter youtube facebook";
          grid-template-columns: 30px 107px 23px 23px 23px 23px;
          justify-self: end;
          padding-right: 50px;

          img {
            align-self: center;
          }

          span {
            align-self: center;
          }

          i.fab.fa-twitter {
            align-self: center;
            margin-top: 0px;
          }

          i.fab.fa-youtube {
            align-self: center;
            margin-top: 0px;
          }

          i.fab.fa-facebook-f {
            align-self: center;
            margin-top: 0px;
          }

          i.fas.fa-chevron-down {
            align-self: center;
          }
        }
      }
    }
  }
}
